Source: ros-foxy-octomap
Section: misc
Priority: optional
Maintainer: Armin Hornung <armin@hornung.io>
Build-Depends: debhelper (>= 9.0.0), cmake, ros-foxy-ros-workspace
Homepage: http://octomap.github.io
Standards-Version: 3.9.2

Package: ros-foxy-octomap
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-foxy-ros-workspace
Description: The OctoMap library implements a 3D occupancy grid mapping approach, providing data structures and mapping algorithms in C++.
 The map implementation is based on an octree. See http://octomap.github.io for details.
